
<nav class="navbar navbar-light bg-light">
  <%=image_tag("vlogo.png", :class => "vlogo")%>
  <span class="navbar-brand mb-0 h1"> </span>
  <button class="btn btn-outline-success" type="button">Contact me</button>
</nav>

  <h1 class="title"> Designer, Front-end & Back-end Developer</h1>
  <h2 class="subtitle">My name is Victor Therache, I build awesome websites, and I <br>freakin <%= image_tag "pxheart.png", class: 'heart-png' %> it </h2>
  <div class="avatar-container">
  <%= image_tag "avatar.png", class: 'avatar-png' %>
  </div>
    <div class="dessin animated animated bounceInUp ">
    <%= image_tag "dessing.png", class: 'dessin-png' %>
</div>
<div class="banniere">
<h3 class ="btitle">Hi I'm Victor, nice to meet you</h3>
<h5 class="bsubtitle">I am passionate about <strong>programming</strong> and especially <strong>web development</strong> since 3 years.<br> I am always learning and working on fun projects on GitHub.
      I am currently working as a freelance developer using various technologies like Ruby, Javascript, SQL or HTML/CSS</h5>
</div>
<div class="grid">
  <div class="pencilbox col1">
    <%= image_tag "pencil.png", class: 'icone' %>
    <h4 class="ptitle">Designer</h4>
    <h5 class ="psubtitle">I make sure proportions are respected and coherents, all in a  beautifull and creative way.</h5>
    <h4 class= "pworkon">I can work on : </h4>
    <h5 class="psubtitle">UX, UI, Desktop, Mobile, Tablets </h5>
    <h4 class= "pworkon ptool">Design tool I'm using : </h4>
    <ul style="list-style-type:none;" class="skill">
      <li>Figma </li>
      <li>Photoshop</li>
      <li>Gimp</li>
      <li>Paper & Pencil</li>
    </ul>
  </div>
  <div class="frontbox col2">
    <%= image_tag "front.png", class: 'icone' %>
      <h4 class="ptitle">Front-end</h4>
    <h5 class ="psubtitle">I use the latest technologies to have a powerfull and understandable source code.</h5>
    <h4 class= "pworkon">Languages I use : </h4>
    <h5 class="psubtitle">HTML, CSS, Javascript, React, Wordpress</h5>
    <h4 class= "pworkon ptool">Front-end tools : </h4>
      <ul style="list-style-type:none;" class="skill">
        <li>Bootstrap </li>
        <li>React</li>
        <li>Flexbox</li>
        <li>CSS grid</li>
        <li>Ui kits</li>
        <li>Github</li>
      </ul>
  </div>  
  <div class="backbox col3">
    <%= image_tag "database.png", class: 'icone' %>
    <h4 class="ptitle">Back-end</h4>
    <h5 class ="psubtitle">I like to use transparent and secure databases to make the users security a key point.</h5>
    <h4 class= "pworkon">Languages I use : </h4>
    <h5 class="psubtitle">Javascript, Ruby on Rails, PostgreSQL, Python</h5>
    <h4 class= "pworkon ptool">Back-end tools : </h4>
    <ul style="list-style-type:none;" class="skill">
      <li>PostgreSQL </li>
      <li>Ruby on Rails</li>
      <li>Heroku</li>
      <li>Github</li>
    </ul>
  </div> 
  <div class="workcontainer">
  <h1 class="wtitle">My recent work </h1>
  <h5 class="bsubtitle worksub">Here are a few projects I've worked on this year, make sure to check them out.</h5>
  <div class="bcontainer">
 <%= link_to "http://www.google.com", :class => "bouton" do %>
 <div class="btn-textbox">
  <span>A compost project made with a few friends of mine.</span>
  </div>
<% end %>
 <%= link_to "http://www.google.com", :class => "bouton2" do %>
 <div class="btn-textbox">
  <span>An AirBnB clone, on the theme of space.</span>
  </div>
<% end %>
  </div>
  </div>
<div class="testimonials">
  <h1 class="wtitle">Testimonials</h1>
  <h5 class= "bsubtitle worksub">People I've worked with have said some nice things...</h5>
  <%= image_tag "goodguy.png", class: 'icone goodguy' %>
  <h2 class="subtitle testisubtitle">“Victor's a clear communicator with the tenacity and confidence to really dig in to tricky design scenarios and the collaborative friction that's needed to produce excellent work.”</h2>
  <h4 class="eric">Eric Harrison</h4>
  <h5 class="suberic">Lead Developer </h5>
</div>
</div>
<div class="green-container">
  <%= image_tag "vlogowhite.png", class:'vlogo-white' %>
  <h5 class='footertext'>Living, learning, & leveling up one day at a time.</h5>
</div>

<%# strgram %>