
<nav class="navbar navbar-light bg-light">
  <%=image_tag("vlogo.png", :class => "vlogo")%>
  <span class="navbar-brand mb-0 h1"> </span>
  <button class="btn" onclick="openForm()">Contact me</button>
</nav>

  <h1 class="title"> Designer, Front-end & Back-end Developer</h1>
<div class="form-popup" id="myForm">
  <form action="#" class="form-container">
    <h1 class= "form_title">Send me a mail <%= image_tag "enveloppe.svg", class: 'enveloppe' %>
 </h1>
    <label for="name" id="form_sub"><b>Your email address :</b></label>
    <input type="text" placeholder="exemple@gmail.com" name="name" required>
    <label for="email" id="form_sub"><b>Your message :</b></label>
  <textarea name="message" rows="10" id="txtarea" cols="60">Hi Victor...</textarea>
    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
  
</div>
  <%# <div class="carousel-item">
  <img src="pxheart.png" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
</div> %>

  <h2 class="subtitle">My name is Victor Therache, I build awesome websites, and I <br>freakin <%= image_tag "pxheart.png", class: 'heart-png' %> it </h2>
  <div class="avatar-container">

  <%= image_tag "avatar.png", class: 'avatar-png' %>
  </div>
    <div class="dessin animated animated bounceInUp ">
    <%= image_tag "dessing.png", class: 'dessin-png' %>
</div>
<div class="banniere">
<h3 class ="btitle">Hi I'm Victor, nice to meet you</h3>
<h5 class="bsubtitle">I am passionate about <strong>programming</strong> and especially <strong>web development</strong> since 3 years.<br> I am always learning and working on fun projects on GitHub.
      In 2020, I joined the "Wagon" coding bootcamp, a wonderfull experience were I learned in-depth all the knowledge I needed to become a worthy developer.
      I am currently working as a freelance developer using various technologies like Ruby, Javascript, SQL or HTML/CSS</h5>
</div>
<div class="grid">
  <div class="pencilbox col1">
    <%= image_tag "pencil.png", class: 'icone' %>
    <h4 class="ptitle">Designer</h4>
    <h5 class ="psubtitle">I make sure proportions are respected and coherents, all in a  beautifull and creative way.</h5>
    <h4 class= "pworkon">I can work on : </h4>
    <h5 class="psubtitle">UX, UI, Desktop, Mobile, Tablets </h5>
    <h4 class= "pworkon ptool">Design tool I'm using : </h4>
    <ul style="list-style-type:none;" class="skill">
      <li>Figma </li>
      <li>Photoshop</li>
      <li>Gimp</li>
      <li>Paper & Pencil</li>
    </ul>
  </div>
  <div class="frontbox col2">
    <%= image_tag "front.png", class: 'icone' %>
      <h4 class="ptitle">Front-end</h4>
    <h5 class ="psubtitle">I use the latest technologies to have a powerfull and understandable source code.</h5>
    <h4 class= "pworkon">Languages I use : </h4>
    <h5 class="psubtitle">HTML, CSS, Javascript, React, Wordpress</h5>
    <h4 class= "pworkon ptool">Front-end tools : </h4>
      <ul style="list-style-type:none;" class="skill">
        <li>Bootstrap </li>
        <li>React</li>
        <li>Flexbox</li>
        <li>CSS grid</li>
        <li>Ui kits</li>
        <li>Github</li>
      </ul>
  </div>  
  <div class="backbox col3">
    <%= image_tag "database.png", class: 'icone' %>
    <h4 class="ptitle">Back-end</h4>
    <h5 class ="psubtitle">I like to use transparent and secure databases to make the users security a key point.</h5>
    <h4 class= "pworkon">Languages I use : </h4>
    <h5 class="psubtitle">Javascript, Ruby on Rails, PostgreSQL, Python</h5>
    <h4 class= "pworkon ptool">Back-end tools : </h4>
    <ul style="list-style-type:none;" class="skill">
      <li>PostgreSQL </li>
      <li>Ruby on Rails</li>
      <li>Heroku</li>
      <li>Github</li>
    </ul>
  </div> 
  <div class="workcontainer">
  <h1 class="wtitle">My recent work </h1>
  <h5 class="bsubtitle worksub">Here are a few projects I've worked on this year, make sure to check them out.</h5>
  <div class="bcontainer">
 <%= link_to "https://scrapitapp.herokuapp.com/", :class => "bouton" do %>
 <div class="btn-textbox">
  <span>A compost project made with a few friends of mine.</span>
  </div>
<% end %>
 <%= link_to "https://myspace-bnb.herokuapp.com/", :class => "bouton2" do %>
 <div class="btn-textbox">
  <span>An AirBnB clone, on the theme of space.</span>
  </div>
<% end %>
  </div>
  </div>
<div class="testimonials">
  <h1 class="wtitle">Testimonials</h1>
  <h5 class= "bsubtitle worksub">People who I've working with said : </h5>  
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag "Review4.png", class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
        <%= image_tag "review5.png", class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
        <%= image_tag "Review6.png", class: 'd-block w-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="leave_a_review">
  <h5 class= "bsubtitle worksub">You can leave a review by clicking   
 </h5> 
  <button type="button" class="btn btn-secondary">here<%= image_tag "keyboard.svg", class: 'keyboard' %>
</button>
</div>
<i class="fas fa-keyboard"></i> 
</div>
  <div class="start_a_project"></div>

</div>

</div>
<div class="green-container green3 ">
<div class="footer_box">
  <%= image_tag "vlogowhite.png", class:'vlogo-white2' %>
  <h5 class='footertext'>Living, learning, & leveling up one day at a time.</h5>
  <div class="icon_box">

<a href="https://github.com/VictorTherache/" class="fa fa-github"></a>
<a href="https://www.linkedin.com/in/victor-therache-5221a015a/" class="fa fa-linkedin"></a>

</div>
  </div>
  <script> 
  function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}</script>  
</div>

<%# strgram %>